.title {
  padding-top: 40px;
}

.centerStack {
  display: flex;
  justify-content: flex-end; /* Centers the content horizontally */
  width: 100%; /* Adjust the width as necessary, or use max-width for better control */
  margin: 0 auto; /* Ensures the div is centered horizontally */
}

@media (max-width: 768px) {
  .centerStack {
    justify-content: center;
  }
}

.groupItem {
  margin-bottom: 20px; /* Ensures spacing between items */
  padding: 10px; /* Reduced padding for less height */
}

.groupDetails {
  display: flex;
  align-items: center; /* Ensures vertical alignment */
  justify-content: space-between; /* Spreads out elements across the available space */
  gap: 10px; /* Consistent spacing between members */
  flex-wrap: wrap; /* Allows items to wrap in smaller views */
}

.groupTitle {
  flex-grow: 1; /* Allows the title to take up available space */
  margin-bottom: 0; /* Reduced unnecessary margin */
}

.noGroups {
  text-align: center;
  padding-top: 20px;
}

.groupMembers {
  display: flex;
  align-items: center; /* Ensures vertical alignment */
  gap: 10px; /* Consistent spacing between members */
}

.paginationWrapper {
  display: flex;
  justify-content: center;
}