.title {
  padding-top: 40px;
  padding-bottom: 20px;
}

.noInvites {
  text-align: center;
  padding-top: 20px;
}


.stack {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
}